.set-card-kategori{
    width: 300px;
    justify-content: center;
    background-color: rgba(255, 81, 235, 0.5);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
